@page
@model ChannelsModel
@{
    ViewData["Title"] = "Channels";
}

<h3>Channels:</h3>
<br />
<ul class="list-group">
    @{
        using (var db = new Model.DeviceChannels())
        {
            foreach (var channel in db.Channels)
            {
                <li class="list-group-item">@channel.ChannelName</li> 
            }
        }
    }
</ul>
<hr />
<h3>Add Channel:</h3>
<form method="post">
    <h5>Name:</h5>
    <input class="form-control"
           asp-for="ChannelNameIn"
           name="ChannelNameIn"
           type="text"
           placeholder="Fox Sports" />
    <span asp-validation-for="ChannelNameIn" class="text-danger"></span>
    <h5>URL:</h5>
    <input class="form-control"
           asp-for="URLIn"
           name="URLIn"
           type="text"
           placeholder="rtmp://192.168.1.51:1935/live/5c33d398e4b02b625194197b_0" />
    <span asp-validation-for="URLIn" class="text-danger"></span>
    <br />
    <input type="submit" value="Submit" class="btn btn-primary" />
</form>

