@page
@model Controller.Pages.RemoteControlModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RemoteControl</title>
</head>
<body>
</body>
</html>
